body {
   background-color: firebrick;


  }
header {
   background-color:rgb(40, 40, 40);
   width: 100%;
   position: fixed;
   z-index: 100;
   color: white;
}
nav {
   float: right;
}
nav ul{
   list-style: none;
   overflow: hidden;
}
nav ul li {
   float: left;
}
header img{
   width: 170px;
   height: 140px;
   margin-left: 50px;
}
div img {
   width: 1000px;
   height: 500px;
   margin-top: 150px;
}
span{
   background-color: white;
}